
{% extends "base.html" %}
{% block title %}
{{ post.author | capfirst }} | {{ post.title }}
{% endblock %}
{% load crispy_forms_tags %}

{% block page_content %}
<div class="col-md-8 offset-md-2">
  <h1>{{ post.title }}</h1>
  <small>
    {{ post.created_on.date }} by <b>{{ post.author | capfirst }}</b> |&nbsp;
    Categories:&nbsp;
    {% for category in post.category.all %}
    <a href="{% url 'blog_author_category' post.author category.name %}">
      {{ category.name }}
    </a>&nbsp;
    {% endfor %}
  </small>
  {{ post.body | safe | linebreaks }}
  <small>
  </small>
  <h3>Comments</h3>
  <a class="btn btn-default" href="{% url 'add_comment_to_post' author=post.author slug=post.slug %}">Add comment</a>
  {% for comment in post.comments.all %}
  <p>
    <small>
    On {{ comment.created_on.date }}&nbsp;
    <b>{{ comment.author }}</b> wrote:
    </small>
  </p>
  <p>{{ comment.body }}</p>
  <hr>
  {% empty %}
  <p>No comments yet.</p>
  {% endfor %}
</div>
{% endblock %}
