{% extends "base.html" %}
{% block title %}
MooreLevesque.com
{% endblock %}
{% load static %}
{% block page_content %}
<div class="col-lg-12 content">
  <div class="header">
  <h1 class="site-title">The Moore-Levesques</h1>
  <hr>
  </div>

  <div id="homeslide" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <picture>
        <img class="d-block w-100"
            srcset="{% static 'images/slide0.jpg' %} 300w,
                {% static 'images/slide0.jpg' %} 600w,
                {% static 'images/slide0.jpg' %} 1000w,
                {% static 'images/slide0.jpg' %} 2000w"
            sizes="(max-width: 800px) 400px, (max0width: 1170px) 600px, 1000px"
            alt="First slide"
            style="display: block; margin: auto;">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
        <img class="d-block w-100"
            srcset="{% static 'images/slide1.jpg' %} 300w,
                {% static 'images/slide1.jpg' %} 600w,
                {% static 'images/slide1.jpg' %} 1000w,
                {% static 'images/slide1.jpg' %} 2000w"
            sizes="(max-width: 800px) 400px, (max0width: 1170px) 600px, 1000px"
            alt="Second slide"
            style="display: block; margin: auto;">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
        <img class="d-block w-100"
            srcset="{% static 'images/slide2.jpg' %} 300w,
                {% static 'images/slide2.jpg' %} 600w,
                {% static 'images/slide2.jpg' %} 1000w,
                {% static 'images/slide2.jpg' %} 2000w"
            sizes="(max-width: 800px) 400px, (max0width: 1170px) 600px, 1000px"
            alt="Third slide"
            style="display: block; margin: auto;">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
        <img class="d-block w-100"
            srcset="{% static 'images/slide3.jpg' %} 300w,
                {% static 'images/slide3.jpg' %} 600w,
                {% static 'images/slide3.jpg' %} 1000w,
                {% static 'images/slide3.jpg' %} 2000w"
            sizes="(max-width: 800px) 400px, (max0width: 1170px) 600px, 1000px"
            alt="Fourth slide"
            style="display: block; margin: auto;">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
        <img class="d-block w-100"
            srcset="{% static 'images/slide4.jpg' %} 300w,
                {% static 'images/slide4.jpg' %} 600w,
                {% static 'images/slide4.jpg' %} 1000w,
                {% static 'images/slide4.jpg' %} 2000w"
            sizes="(max-width: 800px) 400px, (max0width: 1170px) 600px, 1000px"
            alt="Fifth slide"
            style="display: block; margin: auto;">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
        <img class="d-block w-100"
            srcset="{% static 'images/slide5.jpg' %} 300w,
                {% static 'images/slide5.jpg' %} 600w,
                {% static 'images/slide5.jpg' %} 1000w,
                {% static 'images/slide5.jpg' %} 2000w"
            sizes="(max-width: 800px) 400px, (max0width: 1170px) 600px, 1000px"
            alt="Sixth slide"
            style="display: block; margin: auto;">
        </picture>
      </div>
    </div>
  </div>
  <p>We met at St. Luke's Episcopal Church in 2012, but they didn't talk much. Or at all. It wasn't until Christa's second-year field education placement through Duke Divinity School that she and John began to get to know each other. As a part of field education, Christa needed a "Lay Mentoring Team" made of up of lay people from the parish who would meet with Christa on a regular basis and talk with her about her call to ministry. John was asked to be on Christa's committee, and he said, "Sure!" At the first meeting, the committee members were asked to share a gift with Christa, one that they would continue to share with her throughout the year. John said his gift was "cynicism and sarcasm" and for some reason this made Christa think, "I'd like to get to know this guy better!"</p>
  <p>Since we met we have
    <ul>
      <li>Gotten two cats</li>
      <li>Gotten married</li>
      <li>Each gone through job transitions</li>
      <li>Moved twice</li>
      <li>Expanded our family</li>
    </ul>
  </p>
  <p>Christa is the rector at St. Matthew's Epsicopal Church in Jamestown, Rhode Island, John is a contractor for the EPA, Maple is the reigning cat queen of the house, Cooper is the reigning cat jester, and Samuel is the sweetest little boy either of us have ever met.</p>
</div>
{% endblock %}
